

<br>

<div class="card">

    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="New" icon="pi pi-plus" class="mr-2"></p-button>
            <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
            <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i>
            <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton>
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-search" class="mr-2"></p-button>
            <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
    </p-toolbar>
    <br>

    <!-- <h5>Implicit Pagination</h5> -->
    <p-table
    styleClass="p-datatable-sm"
    [value]="activos"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
>

<!-- 
        codigo:"INE-1-CE-03-08-01",
        descripcion:"Computadora de escritorio",
        serie:"123456",
        fecha_registro:"2021-01-01",
        estado:"BUENO",
        codigo_registro:"123456",
        observaciones:"Ninguna",
        unidad_medida:"PZA",
-->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">CODIGO</th>
            <th style="width:20%">DESCRIPCIÓN</th>
            <th style="width:10%">SERIE</th>
            <th style="width:10%">FECHA_REGISTRO</th>
            <th style="width:10%">ESTADO</th>
            <th style="width:10%">CODIGO_REGISTRO</th>
            <th style="width:10%">OBSERVACIONES</th>
            <th style="width:5%">UNIDAD</th>
            <th style="width:10%">ACCIONES</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activo>
        <tr>
            <td>{{ activo.codigo }}</td>
            <td>{{ activo.descripcion }}</td>
            <td>{{ activo.serie }}</td>
            <td>{{ activo.fecha_registro | date: 'dd-MM-yyyy' }}</td>
            <td>{{ activo.estado }}</td>
            <td>{{ activo.codigo_registro }}</td>
            <td>{{ activo.observaciones }}</td>
            <td>{{ activo.unidad_medida }}</td>
            <td>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2 p-mr-2"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
    </ng-template>
</p-table>
</div>